.card-body {
  border: 1px solid rgb(167, 153, 153);
  padding: 5px;
  border-radius: 5px;
}

.treenode > .treenode > li{
  padding-left: 10px;
  border-left: 1px solid rgb(0, 0, 0);
  margin-left: 10px;
  line-height: 1.4em;
}

.treenode:not(.expanded) .treenode {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
}

.horz {
  margin: 10px 0px 0px 10px;
  position: absolute;
  border-top: 1px solid black;
  width: 10px;
}